
@{
    ViewBag.Title = "Home";
}


<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="/Product/Products">
                <img src="http://eveboo.com/wp-content/uploads/2013/04/ferrari-f12-berlinetta-hd-1080p-car-wallpapers-download.jpg" alt="SpinTires">
                </a>
                <div class="carousel-caption">
                    <h3>SpinTires</h3>
                    <p>Ferrari only at SpinTires</p>
                </div>
</div>

        <div class="item">
            <a href="/Product/Products">
                <img src="http://ewallpapershub.net/wp-content/uploads/2015/01/hd-wallpapers-1080p-cars.jpg" alt="Spintires">
                </a>
                <div class="carousel-caption">
                    <h3>SpinTires</h3>
                    <p>Contact us, and we can even supply dragsters</p>
                </div>
</div>


        <div class="item">
            <a href="/Product/Products">
                <img src="http://wallpaperhdwide.com/wp-content/gallery/car-hd-wallpapers-1080p/Lamborghini-Aventador-Car-HD-Wallpaper-1080p.jpg" alt="SpinTires">
                </a>
                <div class="carousel-caption">
                    <h3>SpinTires</h3>
                    <p>We supply Lamborghini</p>
                </div>
</div>

        <div class="item">
            <a href="/Product/Products">
                <img src="http://sidrashid.com/wp-content/uploads/2016/02/bmw-black-wallpaper-183536-bmw-wallpaper-hd-1080p-bmw-wallpaper-hd-1080p-1.jpg" alt="SpinTires">
                </a>
                <div class="carousel-caption">

                    <h3>SpinTires</h3>
                    <p>We have the new BMW M5</p>
                </div>
</div>
    </div>


    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>